In [1]:
import os
import sys

In [2]:
nb_dir = '/'.join(os.getcwd().split('/')[:-1])
sys.path.append(nb_dir)
sys.path.append(os.path.split(nb_dir)[0])

import config
import src.utilities.app_context as app_context
app_context.init()

#path to craft model, weight can be pulled form the production bracnh of repo
config.CRAFT_MODEL_PATH= nb_dir + '/utilities/craft_pytorch/model/craft_mlt_25k.pth'
config.CRAFT_REFINE_MODEL_PATH = nb_dir + '/utilities/craft_pytorch/model/craft_refiner_CTW1500.pth'

In [3]:
from src.services.main import TextDetection

Loading weights of refiner from checkpoint (./model/craft_refiner_CTW1500.pth)

In [4]:
base_dir = '/home/dhiraj/Documents/Anuwad/anuvaad/anuvaad-etl/anuvaad-extractor/block-merger/src/notebooks/sample-data/input'

filename    = 'hamlet_1.pdf'
file_format = 'PDF'
language    =  'en'

In [5]:
app_context.application_context = {
  "inputs": [
    {
      "file": {
        "identifier": "string",
        "name": filename,
        "format": file_format
      },
      "config": {
        "OCR": {
          "option": "HIGH_ACCURACY",
          "language": language
        }
      }
    }
  ]
}

In [6]:
resp = TextDetection(app_context,base_dir)

[2020-11-17 11:22:05,208] {loghandler.py:49} MainThread DEBUG in loghandler: Block merger starting processing {'inputs': [{'file': {'identifier': 'string', 'name': 'hamlet_1.pdf', 'format': 'PDF'}, 'config': {'OCR': {'option': 'HIGH_ACCURACY', 'language': 'en'}}}]}
[2020-11-17 11:22:05,210] {loghandler.py:21} MainThread INFO in loghandler: created processing directories successfully /home/dhiraj/Documents/Anuwad/anuvaad/anuvaad-etl/anuvaad-extractor/block-merger/src/notebooks/sample-data/input/hamlet_1_057cbd62-2899-11eb-899f-eb1a9a52e3b1
[2020-11-17 11:22:05,212] {loghandler.py:21} MainThread INFO in loghandler: filepath /home/dhiraj/Documents/Anuwad/anuvaad/anuvaad-etl/anuvaad-extractor/block-merger/src/notebooks/sample-data/input/hamlet_1.pdf, working_dir /home/dhiraj/Documents/Anuwad/anuvaad/anuvaad-etl/anuvaad-extractor/block-merger/src/notebooks/sample-data/input/hamlet_1_057cbd62-2899-11eb-899f-eb1a9a52e3b1
[2020-11-17 11:22:05,372] {loghandler.py:21} MainThread INFO in loghandler: Extracting images of /home/dhiraj/Documents/Anuwad/anuvaad/anuvaad-etl/anuvaad-extractor/block-merger/src/notebooks/sample-data/input/hamlet_1.pdf
[2020-11-17 11:22:05,373] {loghandler.py:21} MainThread INFO in loghandler: Extraction of /home/dhiraj/Documents/Anuwad/anuvaad/anuvaad-etl/anuvaad-extractor/block-merger/src/notebooks/sample-data/input/hamlet_1.pdf completed in 0.16390585899353027
[2020-11-17 11:22:15,383] {loghandler.py:21} MainThread INFO in loghandler: Time taken for text detection is 10.008157968521118/1time per page : 10.008157968521118
[2020-11-17 11:22:30,074] {loghandler.py:21} MainThread INFO in loghandler: Time taken for text detection is 14.69010043144226/1time per page : 14.69010043144226
x1    1677
y1     361
x4    1677
y4     471
x2    1759
y2     361
x3    1759
y3     471
Name: 0, dtype: object <class 'pandas.core.series.Series'>
x1    317
y1    361
x4    317
y4    471
x2    416
y2    361
x3    416
y3    471
Name: 1, dtype: object <class 'pandas.core.series.Series'>
x1    405
y1    367
x4    405
y4    471
x2    482
y2    367
x3    482
y3    471
Name: 2, dtype: object <class 'pandas.core.series.Series'>
x1    471
y1    367
x4    471
y4    471
x2    542
y2    367
x3    542
y3    471
Name: 3, dtype: object <class 'pandas.core.series.Series'>
x1    575
y1    367
x4    575
y4    482
x2    657
y2    367
x3    657
y3    482
Name: 4, dtype: object <class 'pandas.core.series.Series'>
x1    1123
y1     367
x4    1123
y4     460
x2    1172
y2     367
x3    1172
y3     460
Name: 5, dtype: object <class 'pandas.core.series.Series'>
x1    1200
y1     361
x4    1200
y4     471
x2    1304
y2     361
x3    1304
y3     471
Name: 6, dtype: object <class 'pandas.core.series.Series'>
x1    1293
y1     361
x4    1293
y4     471
x2    1386
y2     361
x3    1386
y3     471
Name: 7, dtype: object <class 'pandas.core.series.Series'>
x1    1381
y1     367
x4    1381
y4     471
x2    1468
y2     367
x3    1468
y3     471
Name: 8, dtype: object <class 'pandas.core.series.Series'>
x1    1458
y1     367
x4    1458
y4     465
x2    1507
y2     367
x3    1507
y3     465
Name: 9, dtype: object <class 'pandas.core.series.Series'>
x1    1501
y1     367
x4    1501
y4     476
x2    1567
y2     367
x3    1567
y3     476
Name: 10, dtype: object <class 'pandas.core.series.Series'>
x1    1748
y1     367
x4    1748
y4     465
x2    1797
y2     367
x3    1797
y3     465
Name: 11, dtype: object <class 'pandas.core.series.Series'>
x1    1792
y1     367
x4    1792
y4     465
x2    1847
y2     367
x3    1847
y3     465
Name: 12, dtype: object <class 'pandas.core.series.Series'>
x1    1836
y1     367
x4    1836
y4     471
x2    1907
y2     367
x3    1907
y3     471
Name: 13, dtype: object <class 'pandas.core.series.Series'>
x1    2115
y1     367
x4    2115
y4     460
x2    2159
y2     367
x3    2159
y3     460
Name: 14, dtype: object <class 'pandas.core.series.Series'>
x1    696
y1    372
x4    696
y4    498
x2    772
y2    372
x3    772
y3    498
Name: 15, dtype: object <class 'pandas.core.series.Series'>
x1    761
y1    372
x4    761
y4    498
x2    844
y2    372
x3    844
y3    498
Name: 16, dtype: object <class 'pandas.core.series.Series'>
x1    833
y1    372
x4    833
y4    498
x2    909
y2    372
x3    909
y3    498
Name: 17, dtype: object <class 'pandas.core.series.Series'>
x1    898
y1    372
x4    898
y4    498
x2    975
y2    372
x3    975
y3    498
Name: 18, dtype: object <class 'pandas.core.series.Series'>
x1    1556
y1     372
x4    1556
y4     482
x2    1633
y2     372
x3    1633
y3     482
Name: 19, dtype: object <class 'pandas.core.series.Series'>
x1    1896
y1     372
x4    1896
y4     471
x2    1967
y2     372
x3    1967
y3     471
Name: 20, dtype: object <class 'pandas.core.series.Series'>
x1    646
y1    378
x4    646
y4    476
x2    701
y2    378
x3    701
y3    476
Name: 21, dtype: object <class 'pandas.core.series.Series'>
x1     964
y1     378
x4     964
y4     493
x2    1030
y2     378
x3    1030
y3     493
Name: 22, dtype: object <class 'pandas.core.series.Series'>
x1    1063
y1     378
x4    1063
y4     471
x2    1134
y2     378
x3    1134
y3     471
Name: 23, dtype: object <class 'pandas.core.series.Series'>
x1    1956
y1     378
x4    1956
y4     471
x2    2022
y2     378
x3    2022
y3     471
Name: 24, dtype: object <class 'pandas.core.series.Series'>
x1    2055
y1     378
x4    2055
y4     471
x2    2126
y2     378
x3    2126
y3     471
Name: 25, dtype: object <class 'pandas.core.series.Series'>
x1     986
y1     498
x4     986
y4     608
x2    1090
y2     498
x3    1090
y3     608
Name: 26, dtype: object <class 'pandas.core.series.Series'>
x1    1079
y1     504
x4    1079
y4     613
x2    1172
y2     504
x3    1172
y3     613
Name: 27, dtype: object <class 'pandas.core.series.Series'>
x1    1162
y1     504
x4    1162
y4     608
x2    1255
y2     504
x3    1255
y3     608
Name: 28, dtype: object <class 'pandas.core.series.Series'>
x1    1238
y1     504
x4    1238
y4     608
x2    1331
y2     504
x3    1331
y3     608
Name: 29, dtype: object <class 'pandas.core.series.Series'>
x1    1326
y1     509
x4    1326
y4     613
x2    1403
y2     509
x3    1403
y3     613
Name: 30, dtype: object <class 'pandas.core.series.Series'>
x1    1392
y1     509
x4    1392
y4     602
x2    1447
y2     509
x3    1447
y3     602
Name: 31, dtype: object <class 'pandas.core.series.Series'>
x1    1441
y1     509
x4    1441
y4     602
x2    1496
y2     509
x3    1496
y3     602
Name: 32, dtype: object <class 'pandas.core.series.Series'>
x1    339
y1    805
x4    339
y4    844
x2    372
y2    805
x3    372
y3    844
Name: 33, dtype: object <class 'pandas.core.series.Series'>
x1    367
y1    805
x4    367
y4    849
x2    394
y2    805
x3    394
y3    849
Name: 34, dtype: object <class 'pandas.core.series.Series'>
x1    394
y1    805
x4    394
y4    849
x2    427
y2    805
x3    427
y3    849
Name: 35, dtype: object <class 'pandas.core.series.Series'>
x1    1364
y1     805
x4    1364
y4     844
x2    1392
y2     805
x3    1392
y3     844
Name: 36, dtype: object <class 'pandas.core.series.Series'>
x1    1507
y1     805
x4    1507
y4     849
x2    1540
y2     805
x3    1540
y3     849
Name: 37, dtype: object <class 'pandas.core.series.Series'>
x1    1600
y1     805
x4    1600
y4     844
x2    1633
y2     805
x3    1633
y3     844
Name: 38, dtype: object <class 'pandas.core.series.Series'>
x1    1633
y1     805
x4    1633
y4     849
x2    1666
y2     805
x3    1666
y3     849
Name: 39, dtype: object <class 'pandas.core.series.Series'>
x1    1660
y1     805
x4    1660
y4     844
x2    1704
y2     805
x3    1704
y3     844
Name: 40, dtype: object <class 'pandas.core.series.Series'>
x1    422
y1    811
x4    422
y4    844
x2    449
y2    811
x3    449
y3    844
Name: 41, dtype: object <class 'pandas.core.series.Series'>
x1    454
y1    811
x4    454
y4    849
x2    531
y2    811
x3    531
y3    849
Name: 42, dtype: object <class 'pandas.core.series.Series'>
x1    537
y1    811
x4    537
y4    849
x2    575
y2    811
x3    575
y3    849
Name: 43, dtype: object <class 'pandas.core.series.Series'>
x1    570
y1    811
x4    570
y4    844
x2    591
y2    811
x3    591
y3    844
Name: 44, dtype: object <class 'pandas.core.series.Series'>
x1    591
y1    811
x4    591
y4    844
x2    613
y2    811
x3    613
y3    844
Name: 45, dtype: object <class 'pandas.core.series.Series'>
x1    613
y1    811
x4    613
y4    844
x2    635
y2    811
x3    635
y3    844
Name: 46, dtype: object <class 'pandas.core.series.Series'>
x1    635
y1    811
x4    635
y4    849
x2    663
y2    811
x3    663
y3    849
Name: 47, dtype: object <class 'pandas.core.series.Series'>
x1    668
y1    811
x4    668
y4    844
x2    707
y2    811
x3    707
y3    844
Name: 48, dtype: object <class 'pandas.core.series.Series'>
x1    712
y1    811
x4    712
y4    849
x2    756
y2    811
x3    756
y3    849
Name: 49, dtype: object <class 'pandas.core.series.Series'>
x1    783
y1    811
x4    783
y4    855
x2    811
y2    811
x3    811
y3    855
Name: 50, dtype: object <class 'pandas.core.series.Series'>
x1    805
y1    811
x4    805
y4    849
x2    838
y2    811
x3    838
y3    849
Name: 51, dtype: object <class 'pandas.core.series.Series'>
x1    849
y1    811
x4    849
y4    849
x2    877
y2    811
x3    877
y3    849
Name: 52, dtype: object <class 'pandas.core.series.Series'>
x1    904
y1    811
x4    904
y4    849
x2    931
y2    811
x3    931
y3    849
Name: 53, dtype: object <class 'pandas.core.series.Series'>
x1    926
y1    811
x4    926
y4    844
x2    948
y2    811
x3    948
y3    844
Name: 54, dtype: object <class 'pandas.core.series.Series'>
x1    948
y1    811
x4    948
y4    849
x2    992
y2    811
x3    992
y3    849
Name: 55, dtype: object <class 'pandas.core.series.Series'>
x1     986
y1     811
x4     986
y4     844
x2    1003
y2     811
x3    1003
y3     844
Name: 56, dtype: object <class 'pandas.core.series.Series'>
x1    1003
y1     811
x4    1003
y4     844
x2    1041
y2     811
x3    1041
y3     844
Name: 57, dtype: object <class 'pandas.core.series.Series'>
x1    1052
y1     811
x4    1052
y4     855
x2    1101
y2     811
x3    1101
y3     855
Name: 58, dtype: object <class 'pandas.core.series.Series'>
x1    1107
y1     811
x4    1107
y4     849
x2    1145
y2     811
x3    1145
y3     849
Name: 59, dtype: object <class 'pandas.core.series.Series'>
x1    1140
y1     811
x4    1140
y4     844
x2    1162
y2     811
x3    1162
y3     844
Name: 60, dtype: object <class 'pandas.core.series.Series'>
x1    1167
y1     811
x4    1167
y4     849
x2    1211
y2     811
x3    1211
y3     849
Name: 61, dtype: object <class 'pandas.core.series.Series'>
x1    1244
y1     811
x4    1244
y4     849
x2    1304
y2     811
x3    1304
y3     849
Name: 62, dtype: object <class 'pandas.core.series.Series'>
x1    1299
y1     811
x4    1299
y4     849
x2    1342
y2     811
x3    1342
y3     849
Name: 63, dtype: object <class 'pandas.core.series.Series'>
x1    1386
y1     811
x4    1386
y4     844
x2    1408
y2     811
x3    1408
y3     844
Name: 64, dtype: object <class 'pandas.core.series.Series'>
x1    1408
y1     811
x4    1408
y4     844
x2    1430
y2     811
x3    1430
y3     844
Name: 65, dtype: object <class 'pandas.core.series.Series'>
x1    1441
y1     811
x4    1441
y4     849
x2    1468
y2     811
x3    1468
y3     849
Name: 66, dtype: object <class 'pandas.core.series.Series'>
x1    1534
y1     811
x4    1534
y4     844
x2    1562
y2     811
x3    1562
y3     844
Name: 67, dtype: object <class 'pandas.core.series.Series'>
x1    1556
y1     811
x4    1556
y4     849
x2    1584
y2     811
x3    1584
y3     849
Name: 68, dtype: object <class 'pandas.core.series.Series'>
x1    1732
y1     811
x4    1732
y4     844
x2    1770
y2     811
x3    1770
y3     844
Name: 69, dtype: object <class 'pandas.core.series.Series'>
x1    1764
y1     811
x4    1764
y4     844
x2    1786
y2     811
x3    1786
y3     844
Name: 70, dtype: object <class 'pandas.core.series.Series'>
x1    1786
y1     811
x4    1786
y4     849
x2    1830
y2     811
x3    1830
y3     849
Name: 71, dtype: object <class 'pandas.core.series.Series'>
x1    1825
y1     811
x4    1825
y4     849
x2    1874
y2     811
x3    1874
y3     849
Name: 72, dtype: object <class 'pandas.core.series.Series'>
x1    1880
y1     811
x4    1880
y4     849
x2    1929
y2     811
x3    1929
y3     849
Name: 73, dtype: object <class 'pandas.core.series.Series'>
x1    1940
y1     811
x4    1940
y4     849
x2    1984
y2     811
x3    1984
y3     849
Name: 74, dtype: object <class 'pandas.core.series.Series'>
x1    2017
y1     811
x4    2017
y4     849
x2    2049
y2     811
x3    2049
y3     849
Name: 75, dtype: object <class 'pandas.core.series.Series'>
x1    2044
y1     811
x4    2044
y4     844
x2    2066
y2     811
x3    2066
y3     844
Name: 76, dtype: object <class 'pandas.core.series.Series'>
x1    2066
y1     811
x4    2066
y4     849
x2    2137
y2     811
x3    2137
y3     849
Name: 77, dtype: object <class 'pandas.core.series.Series'>
x1    1172
y1     849
x4    1172
y4     893
x2    1200
y2     849
x3    1200
y3     893
Name: 78, dtype: object <class 'pandas.core.series.Series'>
x1    2154
y1     849
x4    2154
y4     893
x2    2203
y2     849
x3    2203
y3     893
Name: 79, dtype: object <class 'pandas.core.series.Series'>
x1    263
y1    855
x4    263
y4    887
x2    285
y2    855
x3    285
y3    887
Name: 80, dtype: object <class 'pandas.core.series.Series'>
x1    285
y1    855
x4    285
y4    893
x2    312
y2    855
x3    312
y3    893
Name: 81, dtype: object <class 'pandas.core.series.Series'>
x1    306
y1    855
x4    306
y4    893
x2    334
y2    855
x3    334
y3    893
Name: 82, dtype: object <class 'pandas.core.series.Series'>
x1    328
y1    855
x4    328
y4    893
x2    361
y2    855
x3    361
y3    893
Name: 83, dtype: object <class 'pandas.core.series.Series'>
x1    367
y1    855
x4    367
y4    887
x2    394
y2    855
x3    394
y3    887
Name: 84, dtype: object <class 'pandas.core.series.Series'>
x1    389
y1    855
x4    389
y4    893
x2    422
y2    855
x3    422
y3    893
Name: 85, dtype: object <class 'pandas.core.series.Series'>
x1    416
y1    855
x4    416
y4    893
x2    465
y2    855
x3    465
y3    893
Name: 86, dtype: object <class 'pandas.core.series.Series'>
x1    482
y1    855
x4    482
y4    893
x2    570
y2    855
x3    570
y3    893
Name: 87, dtype: object <class 'pandas.core.series.Series'>
x1    723
y1    855
x4    723
y4    893
x2    750
y2    855
x3    750
y3    893
Name: 88, dtype: object <class 'pandas.core.series.Series'>
x1    783
y1    855
x4    783
y4    887
x2    805
y2    855
x3    805
y3    887
Name: 89, dtype: object <class 'pandas.core.series.Series'>
x1    860
y1    855
x4    860
y4    893
x2    893
y2    855
x3    893
y3    893
Name: 90, dtype: object <class 'pandas.core.series.Series'>
x1    931
y1    855
x4    931
y4    893
x2    981
y2    855
x3    981
y3    893
Name: 91, dtype: object <class 'pandas.core.series.Series'>
x1    1019
y1     855
x4    1019
y4     893
x2    1046
y2     855
x3    1046
y3     893
Name: 92, dtype: object <class 'pandas.core.series.Series'>
x1    1041
y1     855
x4    1041
y4     893
x2    1068
y2     855
x3    1068
y3     893
Name: 93, dtype: object <class 'pandas.core.series.Series'>
x1    1068
y1     855
x4    1068
y4     893
x2    1096
y2     855
x3    1096
y3     893
Name: 94, dtype: object <class 'pandas.core.series.Series'>
x1    1129
y1     855
x4    1129
y4     893
x2    1156
y2     855
x3    1156
y3     893
Name: 95, dtype: object <class 'pandas.core.series.Series'>
x1    1151
y1     855
x4    1151
y4     893
x2    1178
y2     855
x3    1178
y3     893
Name: 96, dtype: object <class 'pandas.core.series.Series'>
x1    1222
y1     855
x4    1222
y4     893
x2    1299
y2     855
x3    1299
y3     893
Name: 97, dtype: object <class 'pandas.core.series.Series'>
x1    1310
y1     855
x4    1310
y4     887
x2    1331
y2     855
x3    1331
y3     887
Name: 98, dtype: object <class 'pandas.core.series.Series'>
x1    1331
y1     855
x4    1331
y4     893
x2    1359
y2     855
x3    1359
y3     893
Name: 99, dtype: object <class 'pandas.core.series.Series'>
x1    1375
y1     855
x4    1375
y4     887
x2    1397
y2     855
x3    1397
y3     887
Name: 100, dtype: object <class 'pandas.core.series.Series'>
x1    1414
y1     855
x4    1414
y4     893
x2    1496
y2     855
x3    1496
y3     893
Name: 101, dtype: object <class 'pandas.core.series.Series'>
x1    1584
y1     855
x4    1584
y4     893
x2    1622
y2     855
x3    1622
y3     893
Name: 102, dtype: object <class 'pandas.core.series.Series'>
x1    1655
y1     855
x4    1655
y4     898
x2    1704
y2     855
x3    1704
y3     898
Name: 103, dtype: object <class 'pandas.core.series.Series'>
x1    1710
y1     855
x4    1710
y4     893
x2    1748
y2     855
x3    1748
y3     893
Name: 104, dtype: object <class 'pandas.core.series.Series'>
x1    1803
y1     855
x4    1803
y4     893
x2    1830
y2     855
x3    1830
y3     893
Name: 105, dtype: object <class 'pandas.core.series.Series'>
x1    1967
y1     855
x4    1967
y4     893
x2    2017
y2     855
x3    2017
y3     893
Name: 106, dtype: object <class 'pandas.core.series.Series'>
x1    2033
y1     855
x4    2033
y4     893
x2    2060
y2     855
x3    2060
y3     893
Name: 107, dtype: object <class 'pandas.core.series.Series'>
x1    2055
y1     855
x4    2055
y4     893
x2    2088
y2     855
x3    2088
y3     893
Name: 108, dtype: object <class 'pandas.core.series.Series'>
x1    2082
y1     855
x4    2082
y4     887
x2    2104
y2     855
x3    2104
y3     887
Name: 109, dtype: object <class 'pandas.core.series.Series'>
x1    2104
y1     855
x4    2104
y4     887
x2    2126
y2     855
x3    2126
y3     887
Name: 110, dtype: object <class 'pandas.core.series.Series'>
x1    575
y1    860
x4    575
y4    893
x2    608
y2    860
x3    608
y3    893
Name: 111, dtype: object <class 'pandas.core.series.Series'>
x1    619
y1    860
x4    619
y4    893
x2    663
y2    860
x3    663
y3    893
Name: 112, dtype: object <class 'pandas.core.series.Series'>
x1    668
y1    860
x4    668
y4    893
x2    696
y2    860
x3    696
y3    893
Name: 113, dtype: object <class 'pandas.core.series.Series'>
x1    690
y1    860
x4    690
y4    893
x2    718
y2    860
x3    718
y3    893
Name: 114, dtype: object <class 'pandas.core.series.Series'>
x1    745
y1    860
x4    745
y4    898
x2    772
y2    860
x3    772
y3    898
Name: 115, dtype: object <class 'pandas.core.series.Series'>
x1    800
y1    860
x4    800
y4    893
x2    827
y2    860
x3    827
y3    893
Name: 116, dtype: object <class 'pandas.core.series.Series'>
x1    822
y1    860
x4    822
y4    893
x2    849
y2    860
x3    849
y3    893
Name: 117, dtype: object <class 'pandas.core.series.Series'>
x1    887
y1    860
x4    887
y4    893
x2    915
y2    860
x3    915
y3    893
Name: 118, dtype: object <class 'pandas.core.series.Series'>
x1    909
y1    860
x4    909
y4    893
x2    937
y2    860
x3    937
y3    893
Name: 119, dtype: object <class 'pandas.core.series.Series'>
x1    1293
y1     860
x4    1293
y4     893
x2    1320
y2     860
x3    1320
y3     893
Name: 120, dtype: object <class 'pandas.core.series.Series'>
x1    1353
y1     860
x4    1353
y4     893
x2    1381
y2     860
x3    1381
y3     893
Name: 121, dtype: object <class 'pandas.core.series.Series'>
x1    1507
y1     860
x4    1507
y4     893
x2    1556
y2     860
x3    1556
y3     893
Name: 122, dtype: object <class 'pandas.core.series.Series'>
x1    1551
y1     860
x4    1551
y4     893
x2    1589
y2     860
x3    1589
y3     893
Name: 123, dtype: object <class 'pandas.core.series.Series'>
x1    1616
y1     860
x4    1616
y4     893
x2    1644
y2     860
x3    1644
y3     893
Name: 124, dtype: object <class 'pandas.core.series.Series'>
x1    1743
y1     860
x4    1743
y4     893
x2    1792
y2     860
x3    1792
y3     893

Name: 174, dtype: object <class 'pandas.core.series.Series'>
x1    909
y1    948
x4    909
y4    986
x2    937
y2    948
x3    937
y3    986
Name: 175, dtype: object <class 'pandas.core.series.Series'>
x1    1014
y1     948
x4    1014
y4     986
x2    1063
y2     948
x3    1063
y3     986
Name: 176, dtype: object <class 'pandas.core.series.Series'>
x1    1123
y1     942
x4    1123
y4     986
x2    1189
y2     942
x3    1189
y3     986
Name: 177, dtype: object <class 'pandas.core.series.Series'>
x1    1205
y1     948
x4    1205
y4     986
x2    1233
y2     948
x3    1233
y3     986
Name: 178, dtype: object <class 'pandas.core.series.Series'>
x1    1288
y1     948
x4    1288
y4     986
x2    1359
y2     948
x3    1359
y3     986
Name: 179, dtype: object <class 'pandas.core.series.Series'>
x1    1392
y1     948
x4    1392
y4     986
x2    1419
y2     948
x3    1419
y3     986
Name: 180, dtype: object <class 'pandas.core.series.Series'>
x1    866
y1    953
x4    866
y4    986
x2    893
y2    953
x3    893
y3    986
Name: 181, dtype: object <class 'pandas.core.series.Series'>
x1    948
y1    953
x4    948
y4    986
x2    975
y2    953
x3    975
y3    986
Name: 182, dtype: object <class 'pandas.core.series.Series'>
x1     970
y1     953
x4     970
y4     986
x2    1008
y2     953
x3    1008
y3     986
Name: 183, dtype: object <class 'pandas.core.series.Series'>
x1    1074
y1     953
x4    1074
y4     986
x2    1112
y2     953
x3    1112
y3     986
Name: 184, dtype: object <class 'pandas.core.series.Series'>
x1    1107
y1     953
x4    1107
y4     986
x2    1134
y2     953
x3    1134
y3     986
Name: 185, dtype: object <class 'pandas.core.series.Series'>
x1    1183
y1     953
x4    1183
y4     986
x2    1211
y2     953
x3    1211
y3     986
Name: 186, dtype: object <class 'pandas.core.series.Series'>
x1    1244
y1     953
x4    1244
y4     986
x2    1282
y2     953
x3    1282
y3     986
Name: 187, dtype: object <class 'pandas.core.series.Series'>
x1    1353
y1     953
x4    1353
y4     986
x2    1397
y2     953
x3    1397
y3     986
Name: 188, dtype: object <class 'pandas.core.series.Series'>
x1    1425
y1     953
x4    1425
y4     986
x2    1468
y2     953
x3    1468
y3     986
Name: 189, dtype: object <class 'pandas.core.series.Series'>
x1    1474
y1     953
x4    1474
y4     992
x2    1501
y2     953
x3    1501
y3     992
Name: 190, dtype: object <class 'pandas.core.series.Series'>
x1    1496
y1     953
x4    1496
y4     992
x2    1545
y2     953
x3    1545
y3     992
Name: 191, dtype: object <class 'pandas.core.series.Series'>
x1    1551
y1     953
x4    1551
y4     992
x2    1633
y2     953
x3    1633
y3     992
Name: 192, dtype: object <class 'pandas.core.series.Series'>

In [10]:
file_index = 0
page_index =0
resp['rsp']['outputs'][file_index]['pages'][page_index]['words'][0]

{'boundingBox': {'vertices': [{'x': 1677, 'y': 361},
   {'x': 1759, 'y': 361},
   {'x': 1759, 'y': 471},
   {'x': 1677, 'y': 471}]},
 'identifier': 'd706f9bf4dea4e44a5c77ad1780052f3',
 'class': 'TEXT',
 'font': {'family': 'Arial Unicode MS', 'size': 110, 'style': 'REGULAR'}}